@charset "UTF-8";

.container-wrapper {
	margin-top: 50px;
}

table {
	border-collapse: collapse;
	width: 60%;
	font-size: small;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	vertical-align: top;
	padding: 5px;
}

th {
	background-color: #dddddd;
}